@import '../../styles/customMediaQueries.css';

.wrapper{
    max-width: 850px;
    margin: 0 auto;
}

.content {
    padding: 4rem 2rem;
    margin: 4rem auto;
    text-align: center;
    word-break: break-word;

    @media screen and (max-width:568px) {
     padding: 2rem;
     margin: 2rem auto;
    }
}

.content h3{
    color: #000;
    font-size: 2.1rem;
    line-height: 25px;
}
.content .contentPara{
    font-size: 1.15rem;
    line-height: 30px;
}
.content .resourceMap{
    margin-top: 35px;
}
.contentBtn{
    background-color: var(--marketplaceColor);
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 #0003;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    margin-top: 24px;
    padding: 8px 20px;
    text-decoration: none;
    border: none;
}
.contentBtn:hover{
    background-color: var(--marketplaceColorDark);
    text-decoration: none;
}
.link {
  display: block;
  margin-top: 6px;
  margin-bottom: 6px;
}